@font-face {
  font-family: "Roboto-light";
  src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-medium";
  src: url("./fonts/Roboto-Medium.ttf");
}

body {
  font-family: "Roboto-medium", Arial, Helvetica;
  background-color: rgb(228, 228, 228);
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  background: rgb(128, 128, 255);
  color: white;
  padding: 10px 20px 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleText {
  text-align: center;
  margin-top: 10px;
}

.contentArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  font-family: "Roboto-light", Arial, Helvetica;
  font-size: 18px;
  resize: none;
  border-radius: 10px;
  height: 75vh;
  width: 90vw;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(131, 131, 131, 0.2);
}
